<header id="header" class="fixed-top d-flex align-items-center">
  <div class="container d-flex justify-content-between">

    <div class="logo">
      <h1><a href="index.html">HRDOORS </a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
    </div>

    <nav id="navbar" class="navbar">
      <ul>
        <li><a class="nav-link scrollto active" href="#hero">INICIO</a></li>
        <li><a class="nav-link scrollto" href="#about">DISEÑOS</a></li>
        <li><a class="nav-link scrollto" href="#services">MATERIALES</a></li>
        <li><a class="nav-link scrollto " href="#portfolio">DESCUENTO</a></li>
        <li><a class="nav-link scrollto" href="#team">ACCESORIOS</a></li>
        <li class="dropdown"><a href="#"><span>TIPO DE PUERTAS</span> <i class="bi bi-chevron-down"></i></a>
          <ul>
            <li><a href="#">TAMBOR</a></li>
            <li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-right"></i></a>
              <ul>
                <li><a href="#">A </a></li>
                <li><a href="#">AD</a></li>
                <li><a href="#">AS</a></li>
                <li><a href="#">A</a></li>
                <li><a href="#">A</a></li>
              </ul>
            </li>
            <li><a href="#">LAMINADAS</a></li>
            <li><a href="#">FIBRAD DE VIDRIO</a></li>
            <li><a href="#">BLINDADAS</a></li>
          </ul>
        </li>
        <li><a class="nav-link scrollto" href="#contact">SERVICIO DE AYUDA</a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->

  </div>
</header>
  