<header id="header" class="fixed-top d-flex align-items-center">
  <div class="container d-flex justify-content-between">

    <div class="logo">
      <h1><a href="index.html">HRDOORS </a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
    </div>

    <nav id="navbar" class="navbar">
      <ul>
        <li><a class="nav-link scrollto active" [routerLink] ="['inicio']">INICIO</a></li>

        <li><a class="nav-link scrollto"[routerLink] ="['diseño']" >TAMBOR INTERIOR </a></li>

        <li><a class="nav-link scrollto" [routerLink] ="['materiales']">MATERIALES</a></li>

        <li><a class="nav-link scrollto " [routerLink] ="['descuento']">PROXIMOS DISEÑOS </a></li>

        <li><a class="nav-link scrollto" [routerLink] ="['accesorios']">ACCESORIOS</a></li>

        <li><a class="nav-link scrollto" [routerLink] ="['laminada']">LAMINADAS EXTERIOR</a></li>

        <li><a class="nav-link scrollto" [routerLink] ="['servicio de ayuda ']">CONTACTO</a></li>
        <br><br>
        <a [routerLink]="['inicio']" (click)="cerrarsesion()" *ngIf="usuario_activo==true">
          <i class="fa-solid fa-right-from-bracket"></i>cerrar Sesion
          <br><br>
        </a>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->

  </div>
</header>
  