<div class="col-lg-3 col-md-6">
    <div class="footer-info">
      <h3>HRDOORS</h3>
      <p>
        Av. Fundadores 13, Infonavit Fundadores, 
        88275 Nuevo Laredo, Tamps
        <strong>Telefono:</strong>+52 867 333 444<br>
        <strong>Correo electronico :</strong> hrdoors@gmail.com<br>
      </p>
      <div class="social-links mt-3">
        <a href="https://www.twitter.com/" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="https://www.facebook.com/" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="https://www.Instagram.com/" class="instagram"><i class="bx bxl-instagram"></i></a>
      </div>
    </div>
  </div>
<div class="container">
    <div class="copyright">
      &copy; Copyright <strong><span>HRDOORS</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
      Designed by <a href="https://hrdoors-24.web.app/">HRDOORS</a>
    </div>
  </div>
