<section id="portfolio" class="portfolio section-bg">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>PUERTAS DE TAMBOR PARA INTERIOR </h2>
          <p>UNA GRAN VARIEDAD DE DISEÑOS Y COLORES A PODER ESCOGER EN ESTE APARTADO SE LES MOSTRARA MAS DETALLADOS </p>
        </div>

        <div class="row" data-aos="fade-up">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">

            </ul>
          </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up">

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="https://cdn.homedepot.com.mx/productos/590606/590606-d.jpg" class="img-fluid" width="650" height="350">
              <div class="portfolio-info">
                <h4>Puerta Tambor</h4>
                <p>6 Panel Blanca</p>
                <div class="portfolio-links">
                  <a href="https://cdn.homedepot.com.mx/productos/590606/590606-d.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="PUERTA DE TAMBOR INTERIOR 6 PANELES BLANCO"><i class="bx bx-plus"></i></a>
                  
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="https://cdn.homedepot.com.mx/productos/143286/143286-d.jpg" class="img-fluid" width="650" height="350">
              <div class="portfolio-info">
                <h4>Puerta Tambor</h4>
                <p>Escalera Amber</p>
                <div class="portfolio-links">
                  <a href="https://cdn.homedepot.com.mx/productos/143286/143286-d.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="PUERTA SEMISÓLIDA AMBER"><i class="bx bx-plus"></i></a>
                 
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="https://cdn.homedepot.com.mx/productos/681664/681664-d.jpg" class="img-fluid"  width="650" height="350">
              <div class="portfolio-info">
                <h4>Puerta Tambor</h4>
                <p>3 Panel Blanca</p>
                <div class="portfolio-links">
                  <a href="https://cdn.homedepot.com.mx/productos/681664/681664-d.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="PUERTA DE TAMBOR 3 PANELES BLANCO"><i class="bx bx-plus"></i></a>
                 
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="https://cdn.homedepot.com.mx/productos/161029/161029-d.jpg" class="img-fluid" width="650" height="350">
              <div class="portfolio-info">
                <h4> Puerta Tambor </h4>
                <p> Lisa Roble Nuez </p>
                <div class="portfolio-links">
                  <a href="https://cdn.homedepot.com.mx/productos/161029/161029-d.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="PUERTA PARA INTERIOR EUCAPLAC DE TAMBOR ROBLE NUEZ"><i class="bx bx-plus"></i></a>
                  
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="https://cdn.homedepot.com.mx/productos/200273/200273-d.jpg" class="img-fluid" width="650" height="350">
              <div class="portfolio-info">
                <h4>Puerta Tambor</h4>
                <p>Lisa Cherry</p>
                <div class="portfolio-links">
                  <a href="https://cdn.homedepot.com.mx/productos/200273/200273-d.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="PUERTA DE TAMBOR INTERIOR CHERRY "><i class="bx bx-plus"></i></a>
                  
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="https://cdn.homedepot.com.mx/productos/401023/401023-d.jpg" class="img-fluid" width="650" height="350">
              <div class="portfolio-info">
                <h4>Puerta Tambor</h4>
                <p>Cafe 2 panel</p>
                <div class="portfolio-links">
                  <a href="https://cdn.homedepot.com.mx/productos/401023/401023-d.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="PUERTA DE TAMBOR INTERIOR DE 2 PANELES CHOCOLATE"><i class="bx bx-plus"></i></a>
                 
                </div>
              </div>
            </div>
          </div>

        
        </div>

      </div>
    </section>
