<form>
  <div>
    <br><br>
    <section class="form-register">
    <label>
      CORREO ELECTRONICO 
    </label>
    <br>
    <input class="controls" type="email" name="correo"[(ngModel)] ="form.correo"  name="correo"placeholder="Escribe tu correo">
    <br><br>
    <label >
      CONTRASEÑA 
    </label>
    <br>
    <input class="controls" type="password"[(ngModel)] ="form.contrasena" name="contrasena" placeholder="Debe tener 6 caracteres">
    <br>
    <button class="botons" [routerLink]="['diseno']" (click)="iniciarsesion()"> Ingresar <i class="fa-sign-in-alt"></i></button>
    <a href="registro">No tienes cuenta ? ¡Registrate¡</a>
  </section>
</div>
</form>