<section id="portfolio" class="portfolio section-bg">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>PUERTAS LAMINADAS PARA EXTERIOR </h2>
          <p>UNA GRAN VARIEDEAD DE DISEÑOS Y COLORES A PODER ESCOGER EN ESTE APARTADO SE LES MOSTRARA MAS DETALLADOS LOS DISEÑOS DIFERENTES QUE TENEMOS EN EXISTENCIA</p>
        </div>

        <div class="row" data-aos="fade-up">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">

            </ul>
          </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up">

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="https://cdn.homedepot.com.mx/productos/193833/193833-d.jpg" class="img-fluid" width="650" height="350">
              <div class="portfolio-info">
                <h4>Puerta Laminada</h4>
                <p>Lisa Con Soleras Cafe</p>
                <div class="portfolio-links">
                  <a href="https://cdn.homedepot.com.mx/productos/193833/193833-d.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="PUERTA DE LAMINA 4 SOLERAS HORIZONTALES CHOCOLATE"><i class="bx bx-plus"></i></a>
                  
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="https://cdn.homedepot.com.mx/productos/193834/193834-d.jpg" class="img-fluid" width="650" height="350">
              <div class="portfolio-info">
                <h4>Puerta Laminada </h4>
                <p>Lisa Vitrales Chocolate</p>
                <div class="portfolio-links">
                  <a href="https://cdn.homedepot.com.mx/productos/193834/193834-d.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="PUERTA DE LAMINA 3 VITRALES VER CHOCOLATE "><i class="bx bx-plus"></i></a>
                 
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="https://cdn.homedepot.com.mx/productos/193835/193835-d.jpg" class="img-fluid"  width="650" height="350">
              <div class="portfolio-info">
                <h4>Puerta Laminada </h4>
                <p>Lisa con 3 rallas Chocolate</p>
                <div class="portfolio-links">
                  <a href="https://cdn.homedepot.com.mx/productos/193835/193835-d.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="PUERTA DE LAMINA 3 RIBS VERTICALES CHOCOLATE"><i class="bx bx-plus"></i></a>
                 
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="https://cdn.homedepot.com.mx/productos/460174/460174-d.jpg" class="img-fluid" width="650" height="350">
              <div class="portfolio-info">
                <h4> Puerta Laminada </h4>
                <p> 6 Panel blanca  </p>
                <div class="portfolio-links">
                  <a href="https://cdn.homedepot.com.mx/productos/460174/460174-d.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="PUERTA CLÁSICA 6 PANELES"><i class="bx bx-plus"></i></a>
                  
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="https://cdn.homedepot.com.mx/productos/161103/161103-d.jpg" class="img-fluid" width="650" height="350">
              <div class="portfolio-info">
                <h4>Puerta Laminada </h4>
                <p>Lisa Veteado ebano</p>
                <div class="portfolio-links">
                  <a href="https://cdn.homedepot.com.mx/productos/161103/161103-d.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="PUERTA LAMINA VETEADO EBANO"><i class="bx bx-plus"></i></a>
                  
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="https://cdn.homedepot.com.mx/productos/750622/750622-d.jpg" class="img-fluid" width="650" height="350">
              <div class="portfolio-info">
                <h4>Puerta Laminada </h4>
                <p>Media Luna Blanca</p>
                <div class="portfolio-links">
                  <a href="https://cdn.homedepot.com.mx/productos/750622/750622-d.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="PUERTA LAMINADA PARA EXTERIOR MEDIA LUNA"><i class="bx bx-plus"></i></a>
                 
                </div>
              </div>
            </div>
          </div>

        
        </div>

      </div>
    </section>

