<section id="portfolio" class="portfolio section-bg">
  <div class="container">

    <div class="section-title" data-aos="fade-up">
      <h2>PUERTAS PROXIMAS A FABRICAR </h2>
      <p>AQUI ENCONTRARAS TODAS LAS NOVEDADES DE DISEÑOS Y COLORES QUE ESTEN POR ESTRENAR NUEVOS Y ELEGANTES DISEÑOS PARA INTERIOR Y EXTERIOR </p>
    </div>

    <div class="row" data-aos="fade-up">
      <div class="col-lg-12 d-flex justify-content-center">
        <ul id="portfolio-flters">

        </ul>
      </div>
    </div>

    <div class="row portfolio-container" data-aos="fade-up">

      <div class="col-lg-4 col-md-6 portfolio-item filter-app">
        <div class="portfolio-wrap">
          <img src="https://cdn.homedepot.com.mx/productos/161211/161211-a1.jpg" class="img-fluid" width="650" height="350">
          <div class="portfolio-info">
            <h4>Puerta Laminada</h4>
            <p>CAFE 3 PANEL PARA EXTERIOR </p>
            <div class="portfolio-links">
              <a href="https://cdn.homedepot.com.mx/productos/161211/161211-a1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="PUERTA DE LAMINA 4 SOLERAS HORIZONTALES CHOCOLATE"><i class="bx bx-plus"></i></a>
              
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-web">
        <div class="portfolio-wrap">
          <img src="https://cdn.homedepot.com.mx/productos/166971/166971-d.jpg" class="img-fluid" width="650" height="350">
          <div class="portfolio-info">
            <h4>Puerta Tambor </h4>
            <p>LISA INTERIOR KASSEL</p>
            <div class="portfolio-links">
              <a href="https://cdn.homedepot.com.mx/productos/166971/166971-d.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="PUERTA DE LAMINA 3 VITRALES VER CHOCOLATE "><i class="bx bx-plus"></i></a>
             
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-app">
        <div class="portfolio-wrap">
          <img src="https://cdn.homedepot.com.mx/productos/132569/132569-d.jpg" class="img-fluid"  width="650" height="350">
          <div class="portfolio-info">
            <h4>Puerta Tambor  </h4>
            <p>LISA TAMBOR ROBLE</p>
            <div class="portfolio-links">
              <a href="https://cdn.homedepot.com.mx/productos/132569/132569-d.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="PUERTA DE LAMINA 3 RIBS VERTICALES CHOCOLATE"><i class="bx bx-plus"></i></a>
             
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-card">
        <div class="portfolio-wrap">
          <img src="https://cdn.homedepot.com.mx/productos/197749/197749-d.jpg" class="img-fluid" width="650" height="350">
          <div class="portfolio-info">
            <h4> Puerta Laminada </h4>
            <p> ROBLE GRANDIS CINCO VIDRIOS </p>
            <div class="portfolio-links">
              <a href="https://cdn.homedepot.com.mx/productos/197749/197749-d.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="PUERTA CLÁSICA 6 PANELES"><i class="bx bx-plus"></i></a>
              
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-web">
        <div class="portfolio-wrap">
          <img src="https://cdn.homedepot.com.mx/productos/401002/401002-d.jpg" class="img-fluid" width="650" height="350">
          <div class="portfolio-info">
            <h4>Puerta Laminada </h4>
            <p>6 PANELES CHOCOLATE </p>
            <div class="portfolio-links">
              <a href="https://cdn.homedepot.com.mx/productos/401002/401002-d.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="PUERTA LAMINA VETEADO EBANO"><i class="bx bx-plus"></i></a>
              
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-app">
        <div class="portfolio-wrap">
          <img src="https://cdn.homedepot.com.mx/productos/132793/132793-d.jpg" class="img-fluid" width="650" height="350">
          <div class="portfolio-info">
            <h4>Puerta Tambor </h4>
            <p>6 panel HUATULCO</p>
            <div class="portfolio-links">
              <a href="https://cdn.homedepot.com.mx/productos/132793/132793-d.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="PUERTA LAMINADA PARA EXTERIOR MEDIA LUNA"><i class="bx bx-plus"></i></a>
             
            </div>
          </div>
        </div>
      </div>

    
    </div>

  </div>
</section>