<section id="features" class="features">
    <div class="container">

      <div class="row">
        <div class="col-lg-4 mb-5 mb-lg-0" data-aos="fade-right">
          <ul class="nav nav-tabs flex-column">
            <li class="nav-item">
              <a class="nav-link active show" data-bs-toggle="tab" href="#tab-1">
                <h4>CHAPAS DE SEGURIDAD </h4>
                <p>mecanismo metálico que se incorpora en puertas y otros elementos para impedir que se puedan abrir sin llave</p>
              </a>
            </li>
            <li class="nav-item mt-2">
              <a class="nav-link" data-bs-toggle="tab" href="#tab-2">
                <h4>MIRRILAS DE SEGURIDAD</h4>
                <p>instrumento que se introduce en las puertas de acceso a las viviendas para poder ver a través de ellas</p>
              </a>
            </li>
            <li class="nav-item mt-2">
              <a class="nav-link" data-bs-toggle="tab" href="#tab-3">
                <h4>TOPES METALICOS </h4>
                <p>son aparatos que se pueden usar tanto en el suelo para evitar el choque de la puerta, como en la pared para obstaculizar que lo haga el pomo o la ventana</p>
              </a>
            </li>
            <li class="nav-item mt-2">
              <a class="nav-link" data-bs-toggle="tab" href="#tab-4">
                <h4>GUARDAPOLVOS </h4>
                <p>Protege contra polvo, insectos y roedores. Elaborado con tela de la mejor calidad para el uso rudo entre la puerta y el suelo</p>
              </a>
            </li>
          </ul>
        </div>
        <div class="col-lg-7 ml-auto" data-aos="fade-left">
          <div class="tab-content">
            <div class="tab-pane active show" id="tab-1">
              <figure>
                <img src="https://www.truper.com/media/product/126/manijas-cilindro-metalico-para-recamara-9e7.jpg" alt="" class="img-fluid">
              </figure>
            </div>
            <div class="tab-pane" id="tab-2">
              <figure>
                <img src="https://www.truper.com/media/import/imagenes/MIRI-P.jpg" alt="" class="img-fluid">
              </figure>
            </div>
            <div class="tab-pane" id="tab-3">
              <figure>
                <img src="https://www.truper.com/media/product/21c/topes-metalicos-para-puerta-e80.jpg" alt="" class="img-fluid">
              </figure>
            </div>
            <div class="tab-pane" id="tab-4">
              <figure>
                <img src="https://www.truper.com/media/product/09a/guardapolvos-automaticos-100-cm-033.jpg" alt="" class="img-fluid">
              </figure>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>
